
<form class="" [formGroup]="detailForm" (ngSubmit)="onDetailSubmit()" *ngIf="detailForm && !loading">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="form-label">ID</label>
        <input formControlName="id" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group text-right">
        <button type="submit"
          [disabled]="detailForm.invalid || detailForm.pristine"
          data-style="slide-left"
          class="btn btn-primary"> {{isNew ? 'Create' : 'Save Details'}} </button>
      </div>
    </div>
  </div>

</form>
