<!-- Loading Spinner -->
<div class="card" *ngIf="loading">
  <div class="card-body">
    <div class="text-center">
      <app-loading-spinner id="formLoad" [(show)]="loading" spinnerType="grow" textType="warning">
      </app-loading-spinner>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="!loading">
  <form class="" [formGroup]="detailForm" (ngSubmit)="onDetailSubmit()" *ngIf="detailForm && !loading">

    <div class="card-header clearfix">
      <div class="float-left">
        <div class="h3 mb-0">
          {{selectedItem?.name || 'New Customer'}}
        </div>
      </div>
      <div class="float-right">
        <!-- <span class="form-label">Active</span> -->
        <label class="switcher switcher-xl switcher-success d-block mt-2 mr-0">
          <input [value]="isActive" class="switcher-input" type="checkbox" formControlName="isActive">
          <span class="switcher-indicator">
            <span class="switcher-yes">
              <span class="">Active</span>
            </span>
            <span class="switcher-no">
              <span class="">Disabled</span>
            </span>
          </span>
        </label>
      </div>
    </div>
    <div class="card-body pb-2">

      <div class="card-body pb-2">
        <div class="form-group">
          <label class="form-label">Name</label>
          <input formControlName="name" type="text" class="form-control">
        </div>

      </div>
      <div class="text-right m-3">
        <button type="submit" [disabled]="detailForm.invalid || detailForm.pristine" data-style="slide-left" class="btn btn-primary"> {{isNew ? 'Create' : 'Save Details'}} </button>
      </div>
    </div>
  </form>

</div>
