<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
  <div>
    <%= classify(fileName) %>
  </div>
  <a [routerLink]="['/', '<%= dasherize(fileName) %>', 'new']"
     class="btn btn-primary rounded-pill d-block"><span class="ion ion-md-add"></span>&nbsp; Create
    <%= classify(fileName) %>
  </a>
</h4>

<!-- Filters -->
<!-- <div class="ui-bordered px-4 pt-4 mb-4">
  <div class="form-row align-items-center">
    <div class="col-md mb-4">
      <label class="form-label">Verified</label>
      <select class="custom-select" name="filterVerified"
              [(ngModel)]="filterVerified">
        <option *ngFor="let item of ['Any', 'Yes', 'No']"
                [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col-md mb-4">
      <label class="form-label">Role</label>
      <select class="custom-select"name="filterRole"
              [(ngModel)]="filterRole">
        <option *ngFor="let item of ['Any', 'User', 'Author', 'Staff', 'Admin']"
                [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col-md mb-4">
      <label class="form-label">Status</label>
      <select class="custom-select"name="filterStatus"
              [(ngModel)]="filterStatus">
        <option *ngFor="let item of ['Any', 'Active', 'Banned', 'Deleted']"
                [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col-md col-xl-2 mb-4">
      <label class="form-label d-none d-md-block">&nbsp;</label>
      <button type="button"
              class="btn btn-secondary btn-block">Show</button>
    </div>
  </div>
</div> -->
<!-- / Filters -->
<app-block-ui [show]="loading">

  <div class="card">
    <!-- Table controls -->
    <div class="card-body">

      <div class="row">
        <div class="col">
          Per page: &nbsp;
          <select [(ngModel)]="perPage"
                  (change)="update()"
                  class="custom-select custom-select-sm d-inline-block w-auto">
            <option *ngFor="let limit of [20, 30, 40, 50]"
                    [ngValue]="limit">{{limit}}</option>
          </select>
        </div>
        <div class="col">
          <input type="text"
                 [(ngModel)]="filterVal"
                 (input)="currentPage = 1; update()"
                 class="form-control form-control-sm d-inline-block w-auto float-sm-right"
                 placeholder="Search...">
        </div>
      </div>

    </div>
    <!-- / Table controls -->

    <!-- Table -->
    <div class=" py-0"
         *ngIf="!loading">
      <hr class="border-light m-0">
      <div class="table-responsive">
        <app-<%= dasherize(fileName) %>-table [items]="displayedItems"
          classNames="table-striped table-bordered card-table">
        </app-<%= dasherize(fileName) %>-table>
      </div>
    </div>
    <!-- /Table -->

    <!-- Loading -->
    <div class="card-body py-0 text-center"
         *ngIf="loading">
      <app-spinner [show]="loading"
                   id="user-loading"></app-spinner>
    </div>
    <!-- /Loading -->

    <!-- Pagination -->
    <div class="card-body py-0">

      <div class="row">
        <div class="col-sm text-sm-left text-center pt-3">
          <span class="text-muted"
                *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
        </div>
        <div class="col-sm pt-3">
          <ngb-pagination [collectionSize]="totalItems"
                          [pageSize]="perPage"
                          [(page)]="currentPage"
                          (pageChange)="update()"
                          size="sm"
                          class="d-flex justify-content-center justify-content-sm-end m-0"></ngb-pagination>
        </div>
      </div>

    </div>
    <!-- / Pagination -->
  </div>
</app-block-ui>
